textarea {
    min-height: 400px;
}

p {
    margin: 0;
}

.card-text {
    overflow: auto;
    height: 50vh;
}

#email-view .btn {
    margin: 1rem .3rem 0 0;
}

.card-header {
    font-weight: 200;
}

.btn:focus {
    box-shadow: none;
}
